<form class="js-form form" method="post" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <div class="form__spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="commenting-form[name]" name="fields[name]"/>
      <label class="mdl-textfield__label" for="commenting-form[name]">Your name</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="commenting-form[email]" name="fields[email]"/>
      <label class="mdl-textfield__label" for="commenting-form[email]">Your e-mail</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
      <textarea class="mdl-textfield__input" name="fields[message]" type="text" rows= "3" id="commenting-form[message]"></textarea>
      <label class="mdl-textfield__label" for="commenting-form[message]">Your comment. Markdown is allowed.</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Submit
    </button>
  </fieldset>
</form>
